<div id="leftcolumn" class="span-7">
<%= render 'shared/menu' %>
</div>

<div id="maincontent" class="span-15 push-2">
<h1>New evaluation</h1>

<%= render 'form' %>

<% if is_admin %>
<% else %>
  <%= link_to 'All Comments', evaluations_path %>
<% end %>
  <%= link_to 'My Comments', evaluations_path %>
<% else %>
</div>
