<div id="leftcolumn" class="span-7">
</div>

<div id="maincontent" class="span-15 push-1">
<% if notice %>
  <div id="notice" class="span-13"><%= notice %></div>
<% end %>
<h1>Projects</h1>
<p>Find me in app/views/landing/index.html.erb</p>
</div>
