<div id="leftcolumn" class="span-7">
  <%= render 'shared/menu' %>
</div>
<div id="maincontent" class="span-15 span-2">
<h1>Editing project</h1>

<%= render 'form' %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
</div>
