<div id="leftcolumn" class="span-7">
<%= render 'shared/menu' %>
</div>

<div id="maincontent" class="span-15 push-2">
<h1>New project</h1>

<%= render 'form' %>

<%= link_to 'Back', projects_path %>
</div>
